<div class="container main-container">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>
        <input [(ngModel)]="texto"
               type="text"
               class="form-control"
               name="texto"
               placeholder="Buscar una película"
               (keyup.enter)="buscarPeli()">
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
    <div class="card-columns" *ngIf="peliculas">
      <div class="card animated fadeIn fast" *ngFor="let pelicula of peliculas; let i = index">
        <img class="card-img-top img-peli" [src]="pelicula | movieImg:true" [alt]="pelicula.title" class="img-thumbnail img-fluid">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.title}}</h5>
          <p class="card-text">{{pelicula.overview | slice:0:150}}...</p>

          <button [routerLink]="['/movie',pelicula.id,'search', texto]"
            type="button" name="button" class="btn btn-outline-primary btn-block">
            Ver mas..
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
